#backend
# ignor folder
backend/.venv/
backend/media/
backend/staticfiles/
backend/core/settings/.env
backend/.idea/

# __pycache__ ignor
**/__pycache__/

# ignor bd
backend/db.sqlite3

# ignor log files
**.log

# ignor settings
backend/settings.py

# ignor log files
**.log

#frontend
# ignor folder
frontend/node_modules/
frontend/dist/
