{% extends "base.html" %}

{% load static %}
{% block content %}      
    <section class="error-404-section">
        <div class="container error-404-section__content-container">
            <div id="error-wrapper">
                <div class="error-wrapper__fof">
                    <h1>Error 404</h1>
                </div>
                <div class="error-wrapper__message">
                    «Упс! Что-то пошло не так»
                </div>
            </div>
        </div>
    </section>
{% endblock %}