{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="ru">
    <head>
        {# Title #}
        <title>{% block title %}{% endblock %}</title>

        {# Meta #}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {# MetaTags #}
        {% block metatags %}{% endblock %}

        {# Канонический url #}
        <link rel="canonical" href="https://example.ru{{ request.path }}">

        {# favicon #}
        <link rel="icon" sizes="16x16" href="{% static 'img/favicon.png' %}">

        {# Style #}
        <link rel="stylesheet" crossorigin href="{% static '/css/style-62c6a20626.min.css' %}">
    </head>
    
    <body>

        {% include "includes/header.html" %}
        
        {% block content %}
        {% endblock %}

        {% include "includes/footer.html" %}

        {# JS #}
        <script type="module" crossorigin src="{% static '/js/main-357acdf365.min.js' %}"></script>
    </body>
</html>